.controls {
  background: var(--surface-ground);
  border-radius: 10px;
  margin-bottom: 20px;

  display: flex;
  justify-content: space-between; /* left + right */
  align-items: center;

  padding: 10px 15px;
}

/* Left section: chips + radios */
.control-left {
  display: flex;
  flex-direction: column; /* stack chips + radios */
  gap: 10px;
}

.chip-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* Right button */
.generate-btn {
  margin-left: auto; /* push to right */
}
